*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Experiments that aren't part of codebase:
*.data
OctoTest.rb

#EMACS temp files
*~

# YARD artifacts
.yardoc
_yardoc
doc/
